<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat(Iphone-nak cím)</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container my-3">
    <h2>Messages</h2>
    <div *ngFor="let message of messages" class="row">
      <div [ngClass]="message.name==userName?'d-flex justify-content-end':''" class="col-10">
        <div>{{message.time}} {{message.name}}</div>
        <ng-container *ngIf="message.name==userName; else nemEn">
          <div class="col-4">
            <ion-textarea class="mx-1" fill="outline" placeholder="" [(ngModel)]="message.message"></ion-textarea>
            <ion-button fill="solid" color="warning" (click)="updateMessage(message)">Change</ion-button>
            <ion-button fill="solid" color="danger" (click)="deleteMessage(message)">Delete</ion-button>
          </div>
        </ng-container>
        <ng-template #nemEn>
          <div>{{message.message}}</div>
        </ng-template>
        
        <br>
      </div>

      <div *ngIf="message.name=='Balázs'" class="col">
        
      </div>
      

    </div>

    <ion-textarea class="my-5" label="Message" labelPlacement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="newMessage"></ion-textarea>
    <ion-buttons slot="secondary" class="ion-justify-content-center">
      <ion-button fill="solid" (click)="addMessage()">
        Send
      </ion-button>
    </ion-buttons>
  </div>

</ion-content>
